<?php
//start session
//session_start();
//session_destroy();
?>
<head>
 

</head>
<body class="">

  
  <div class="login-box">
    <div class="login-logo">
     
      <center> <h5><?php echo $this->Session->flash();?></h5></center>

    </div>

    
    <!-- /.login-logo -->
    <div class="">


      <section class="header-section-login text-xs-center">
        <h1><b>WELCOME</b></h1>
        <h4>Please Login to Access Your Account!!</h4>
    </section>

     <section class="login-backimg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 offset-md-2 login-card">
                    <div class="login-form">
                      <ul class="nav nav-tabs tabs-2" role="tablist">
                        <li class="nav-item">
                             <a class="nav-link active" data-toggle="tab" href="#login" role="tab">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#register" role="tab">REGISTER</a>
                       </li>
                     </ul>
                     <div class="tab-content">
                            <!--Panel 1-->
                        <div class="tab-pane fade in active" id="login" role="tabpanel" style="padding: 1.25rem">
                           <?php echo $this->Form->create('User',array('acion'=>'login',"id"=>"edit-profile",'novalidate' => true));?>
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                 <?php 
              echo $this->Form->input('User.email',array('label'=>false,'id'=>'user','div'=>false,'class'=>"form-control"));
            ?><label for="username">Username</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                 <?php echo $this->Form->input('User.password',array('label'=>false,'div'=>false,'class'=>"form-control",'id'=>' Password')); ?>
                                <label for="password">Password</label>
                            </div>
                            <div>
                                 <button class="btn btn-form" style="width:20px , height:20px">LOGIN</button>
                                   OR
                                 <!-- <button class="btn btn-form linkedin-btn">Login with Linkedin</button> -->
                                 <?php
if(isset($_SESSION["user"]) && !empty($_SESSION["user"]))
{
  $user = $_SESSION["user"];
    //echo"<pre>"; print_r($user->firstName); exit;
  ?>
  
  <?php

}else{
    
   ?>
                                 <a href="<?php echo configure::read('SITE_URL');?>users/process" class="btn btn-form linkedin-btn"><!-- <i class="fa fa-linkedin"></i>  -->
        LinkedIn</a>
<?php } ?>
                            </div>

                            <?php echo $this->Form->end();?>

                            <div class="forgot-link">
                                <a class="nav-link" href="#">Forgot Password?</a>
                            </div>
                            
                            
                        </div>
                    
                        
                       </div>
                    </div>
                 </div>
            </div>
        </div>
 </section>
     
        
        
  <style type="text/css">
    .btn-sign{
      width: 320px !important;
    }

  </style>

<script type="text/javascript">
 $(document).ready(function() 
    {
      $("#flashMessage").fadeOut(4000, function()
         {
          $("#flashMessage").hide();
        });
    });
     $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
    </script>

    <script type="text/javascript">
         $(document).ready(function() {
    $('.mdb-select').material_select();
  });
    
      $(document).ready(function () {
        $('.forgot').click(function(e){
            e.stopPropagation();
        });
      $('.forgot-link').on('click',function (e) {
       // /$(".forgot").css("display","block");
          //$(".forgot").slideToggle("slow");
          e.stopPropagation();
          $(".forgot").show();
      });
      $(document).click(function() {
    $('.forgot').hide();
    });
    });
      
      $(document).ready(function() {
            $('.mdb-select').material_select();
        });        
</script>

</body>