/* YOUR CUSTOM STYLES */
html,
body {
	height: 100%;
}
/* Navigation*/
.navbar {
	background-color: #009688;
}

.top-nav-collapse {
	background-color: #4285F4;
}

footer.page-footer {
	background-color: #4285F4;
}
@media (max-width: 776px) {
	.carousel {
		height: 100%;
	}
}
.top-nav-collapse{
  background: #009688 !important;
}
#menu-toggle{

}
.logo-text{
      float: left;
    margin-right: 13px;
    margin-top: -1px;
    color: #e1c0f1 !important;
}
.navbar-dark .navbar-brand{
  color: #e6beef;
  font-size: 25px;
  font-weight: 600;
}
.navbar-dark .navbar-brand:hover{
  color: #e6beef;
}
.top-nav-collapse{
      padding-top: 12px !important;
    padding-bottom: 12px !important;
}
/*Main-sidebar*/
.navbar-toggler i{
	padding: 20px 18px;
    font-size: 22px;
}
#sidebar-wrapper {
  margin-right: -400px;
  right: 0;
  width: 300px;
  background: #1A1F1E;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
   margin-top: -12px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
#menu-toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
#sidebar-wrapper.active {
  left: 0;
  width: 300px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  opacity: 0.98;
}
.btn-close{
	border-radius: 50%;
	font-weight: 400;
	padding: 13px 19px;
    font-size: 20px;
    background: rgb(0,150,136);
}
.btn-close:hover{
	background-color: rgb(0,137,123) !important;
}
.main-heading{
	background: rgb(0,105,92);
	font-size: 20px;
	line-height: 50px;
    text-indent: 20px;
}
.main-heading a{
    cursor: inherit !important;
}
.main-heading a:hover,.main-heading a:active{
    color: #fff !important;
}
.sub-heading{
	text-transform: uppercase;
	text-align: center;
	color: #00695C !important;
	font-weight: 500;
    font-size: 15px;
    line-height: 50px;
}
.sub-heading a{
	color: #00695C !important;
}
.menu-font{
	font-size: 20px;
}

/*main-section*/
.main-section{
  padding-top: 90px;
}
/*left-side*/
.left-card{
  padding: 10px 20px;
  background: rgb(0,105,92);
}
.left-card p{
 color: #fff;
 padding: 10px 0;
 display: table-cell;
}
.filtered-card{
   background: #fff;
    padding: 10px 34px;
    color: #000;
    line-height: 15px;
}
.main-title{
  color: #3F51B5;
  font-size: 22px;
  font-weight: 700;
}
.sub-title{
  color: #473A49;
  font-size:20px;
  font-weight:500; 
}
.sub-text{
  color: #999;
  font-size:18px;
  margin-left: -12px;
}
.filtered-card i{
  color: #696868;
}
.next-icon{
  background: #67B0B7;
  border-radius: 50%;
  padding: 9px 14px;
  float: right;
  color: #fff !important;
  font-size: 20px;
}
.comments{
  padding:20px 10px;
  height:500px;
  overflow-y:scroll;
  overflow-x:hidden;
}

/*right-card*/
.right-card{
  background: #fff;
  color: #000;
  font-size: 20px;
  padding: 9px 16px;
  height: 55px;
}
.right-card p{
  font-size: 25px;
  padding: 0px 8px;
}
.filter-check{
  background: rgb(106,27,154);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
  height: 38px;
  width: 100px;
  padding: 8px 15px;
  font-size: 13px;
  border-radius: 13px;
  margin: -3px 35px 0;
}
.filter-check:hover{
  background: rgb(170,0,255);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
.right-card p, .filter-check{
  float: left;
}
[type=checkbox].filled-in:not(:checked)+label:after{
  border-color: #fff; 
}
.btn-dropdown{
  background: rgb(106,27,154);
  margin-left: 35px;
  margin-top: -3px;
  border-radius: 13px;
  color: #fff;
  height: 38px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
  padding: 0 5px;
  text-align: center;
}
.btn-dropdown:hover{
  background: rgb(170,0,255) !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
} 
.select-dropdown{
  color: #fff;
  border-bottom:none !important;
  left: 10px;
  top: -5px;
  font-size: 18px !important;
}
.select-wrapper span.caret{
    right: 16px;
    top: 11px;
    font-size: 12px;
    color: #fff;
}

/*Detailpage*/
.close-button{
  border:1px solid rgb(106,27,154);
  text-transform: uppercase;
  padding: 8px 15px;
  background: transparent;
  font-size: 19px;
  float: right;
  color: rgb(106,27,154);
}
.close-button:hover{
  background: rgb(106,27,154);
  color: #fff;
}
.close-button a{
  color: rgb(106,27,154);
}
.close-button a:hover{
  color: #fff !important;
}
.info-content li{
  line-height: 38px;
}
.share-ic{
  background: #6bc2b9;
  color: #fff;
  font-size: 22px;
  padding: 8px 15px;
  border-radius: 50%;
  float: right;
}
.detail-block{
  margin-top: 15px;
}
.detail-block p{
  border-bottom: 1px solid #999;
}

/*login*/
.header-section-login{
  padding-top: 100px;
  height: 320px;
}
@media (max-width: 767px){
  .header-section , .header-section-home{
    height: 500px;
    margin-bottom: 50px;
  }
}
.nav-tabs{
  background: #009688;
  padding: 0px;
}
.login-backimg{
  margin-top: -120px;
  padding-bottom: 50px;
}
.login-form{
  margin-bottom: 40px;
  position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.login-form .nav-tabs .nav-link{
  padding: 20px 0;
  font-size: 20px;  
}
.login-form .btn-form{
  height: 45px;
  font-size: 16px;
  background: #009688;
}
.edit-btn{
  padding-top: 13px;
}
.forgot-link{
  padding-top:12px; 
}
.linkedin-btn{
  height: 35px !important;
  padding-top: 5px;
}
.account-login {
    padding-top: 20px;
}
.register{
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    padding-top: 20px;
    
}
@media(min-width: 768px){
.login-card{
  margin-left: 20.666667%;
  }
}
/*about-section*/
.about-section{
  padding-top: 55px;
}
.about-section h2{
  font-weight: 600;
  text-align: center;
}
.about-section span {
    border-bottom: 3px solid #009688;
    width: 45px;
    clear: both;
    position: relative;
    margin: 0 auto 30px;
    display: block;
}
.about-section ul li{
  list-style-type: decimal !important;
  list-style: disc outside none;
display: list-item;
}
/*publish-page*/
.publish-card{
  padding-top: 10px;
}
.publish-card a{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.publish-card .active{
 background: #00897B;
}