 <section class="main-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="card left-card">
                        <p>8 reqs filtered from 8</p>
                    </div>
                    <div class="comments" id="style-1">
                        <div class="card filtered-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="main-title">To exchange</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="sub-title">Any in California</p>
                                </div>
                                <div class="col-md-2">
                                   <a href="detailpage.html"><i class="fa fa-chevron-right next-icon"></i></a>
                                </div><div class="clearfix"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">1031 Exchange $2-$4M</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text"> 7.8mi. from East Alma Avenue in San Jose</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Exchange Price: $2,000,000 - $4,000,000</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa Example of area-chart fa-area-chart"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Area: 2,000sqft - 20,000sqft</p>
                                </div>
                            </div>
                        </div>
                        <div class="card filtered-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="main-title">To exchange</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="sub-title">Any in California</p>
                                </div>
                                <div class="col-md-2">
                                   <a href="detailpage.html"><i class="fa fa-chevron-right next-icon"></i></a>
                                </div><div class="clearfix"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">1031 Exchange $2-$4M</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text"> 7.8mi. from East Alma Avenue in San Jose</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Exchange Price: $2,000,000 - $4,000,000</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa Example of area-chart fa-area-chart"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Area: 2,000sqft - 20,000sqft</p>
                                </div>
                            </div>
                        </div>
                        <div class="card filtered-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="main-title">To exchange</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="sub-title">Any in California</p>
                                </div>
                                <div class="col-md-2">
                                   <a href="detailpage.html"><i class="fa fa-chevron-right next-icon"></i></a>
                                </div><div class="clearfix"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">1031 Exchange $2-$4M</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text"> 7.8mi. from East Alma Avenue in San Jose</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Exchange Price: $2,000,000 - $4,000,000</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa Example of area-chart fa-area-chart"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Area: 2,000sqft - 20,000sqft</p>
                                </div>
                            </div>
                        </div>
                        <div class="card filtered-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="main-title">To exchange</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="sub-title">Any in California</p>
                                </div>
                                <div class="col-md-2">
                                   <a href="detailpage.html"><i class="fa fa-chevron-right next-icon"></i></a>
                                </div><div class="clearfix"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">1031 Exchange $2-$4M</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text"> 7.8mi. from East Alma Avenue in San Jose</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Exchange Price: $2,000,000 - $4,000,000</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa Example of area-chart fa-area-chart"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Area: 2,000sqft - 20,000sqft</p>
                                </div>
                            </div>
                        </div>
                        <div class="card filtered-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="main-title">To exchange</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="sub-title">Any in California</p>
                                </div>
                                <div class="col-md-2">
                                   <a href="detailpage.html"><i class="fa fa-chevron-right next-icon"></i></a>
                                </div><div class="clearfix"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">1031 Exchange $2-$4M</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text"> 7.8mi. from East Alma Avenue in San Jose</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Exchange Price: $2,000,000 - $4,000,000</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa Example of area-chart fa-area-chart"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Area: 2,000sqft - 20,000sqft</p>
                                </div>
                            </div>
                        </div>
                        <div class="card filtered-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="main-title">To exchange</p>
                                </div>
                                <div class="col-md-10">
                                    <p class="sub-title">Any in California</p>
                                </div>
                                <div class="col-md-2">
                                   <a href="detailpage.html"><i class="fa fa-chevron-right next-icon"></i></a>
                                </div><div class="clearfix"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">1031 Exchange $2-$4M</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text"> 7.8mi. from East Alma Avenue in San Jose</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Exchange Price: $2,000,000 - $4,000,000</p>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa Example of area-chart fa-area-chart"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="sub-text">Area: 2,000sqft - 20,000sqft</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card right-card">
                    <div class="row">
                        <div class="col-md-1">
                        <p>Filters:</p>
                        </div>
                         <?php  $log_user = $this->Session->read("Auth.User");
                    if(!empty($log_user)) { ?>
                    

                         <div class="col-md-2">
                        <div class="filter-check">
                             <fieldset class="form-group">
                                <input type="checkbox" class="filled-in" id="checkbox2" style="border-color: #fff;">
                                <label for="checkbox2">MAP</label>
                            </fieldset>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <select class="mdb-select colorful-select dropdown-primary btn-dropdown">
                            <option value="0" disabled selected>BROKER: Any</option>
                            <option value="1">Me</option>
                            
                        </select>
                    </div>

                    <div class="col-md-4">
                        <select class="mdb-select colorful-select dropdown-primary btn-dropdown">
                            <option value="0" disabled selected>TYPE: Any</option>
                            <option value="1">Retail</option>
                            <option value="2">Office</option>
                            <option value="3">Leisure</option>
                            <option value="4">Multifamily</option>
                            <option value="5">Hotel</option>
                            <option value="6">Industrial</option>
                            <option value="7">Land</option>
                        </select>
                    </div>


                         <?php }else{ ?>
                        <div class="col-md-2">
                        <div class="filter-check">
                             <fieldset class="form-group">
                                <input type="checkbox" class="filled-in" id="checkbox2" style="border-color: #fff;">
                                <label for="checkbox2">MAP</label>
                            </fieldset>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <select class="mdb-select colorful-select dropdown-primary btn-dropdown">
                            <option value="0" disabled selected>TYPE: Any</option>
                            <option value="1">Retail</option>
                            <option value="2">Office</option>
                            <option value="3">Leisure</option>
                            <option value="4">Multifamily</option>
                            <option value="5">Hotel</option>
                            <option value="6">Industrial</option>
                            <option value="7">Land</option>
                        </select>
                    </div>
                    <?php } ?>
                    </div>
                            <div class="map">
                            <iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#8C8061;text-align:left;font-size:1em">View Larger Map</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
       

    
$(document).ready(function() {
    $('select').material_select();
  });
    </script>