


<body class="">

  <section class="header-section-login text-xs-center">
        <h1><b>WELCOME</b></h1>
        <h4>Please Rcover your Password!!</h4>
  </section>


   <section class="login-backimg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 offset-md-2 login-card">
                    <div class="login-form">
                        <div class="register nav-tabs">
                            <h2>Forgot Password</h2>  
                        </div>
                        <div class="account-login">
                            <div class="card-block">
                            
                                 <div class="forgot">
                                  <?php echo $this->Form->create('User',array('url'=>'forgetpassword',"id"=>"edit-profile",'novalidate' => true));?>
                                    <div class="account-login">
                                        <div class="md-form">
                                            <i class="fa fa-user prefix"></i>
            <?php 
              echo $this->Form->input('User.email',array('label'=>false,'div'=>false,'class'=>"form-control"));
            ?>
                                            <label for="username3" class="">Username</label>
                                        </div>
                                        <div>
                                            <button class="btn btn-form" style="width:20px , height:20px">Get Password</button>
                                             <a href="<?php echo configure::read('SITE_URL');?>users/login" class="text-center">BACK TO LOGIN</a>
                                        </div>
                                    </div>
                                 <?php echo $this->Form->end();?>
                          </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>

    <!--  <section class="login-backimg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 offset-md-2 login-card">
                    <div class="login-form">
                        <div class="forget nav-tabs">
                            <h2>FORGET PASSWORD</h2>  
                        </div>
                        

        <?php echo $this->Form->create('User',array('action'=>'forgetpassword',"id"=>"edit-profile",'novalidate' => true));?>
          <div class="form-group has-feedback">
            <?php 
              echo $this->Form->input('User.email',array('label'=>false,'div'=>false,'class'=>"form-control",'placeholder'=>' Email'));
            ?>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
        <div class="row">  
            <div class="col-xs-12">
             
               <button class="btn btn-form" style="width:20px , height:20px">REQUEST PASSWORD RESET</button>
               <a href="<?php echo configure::read('SITE_URL');?>users/login" class="text-center">BACK TO LOGIN</a>
            </div>
            <?php echo $this->Form->end();?>
          </div>
         

          
                    </div>
                </div>
            </div>
        </div>
 </section>
 -->
    <!-- /.login-logo -->
    
 
</body>
<script type="text/javascript">
$(document).ready(function() 
    {
      $("#flashMessage").fadeOut(4000, function()
         {
          $("#flashMessage").hide();
        });
    });       
     $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
    </script>

    <script type="text/javascript">
         $(document).ready(function() {
    $('.mdb-select').material_select();
  }); 

</script>